@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-profit {
    color: #10b981;
  }
  
  .text-loss {
    color: #ef4444;
  }
  
  .bg-profit-light {
    background-color: #d1fae5;
  }
  
  .bg-loss-light {
    background-color: #fee2e2;
  }
}
